* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
}

/*div.test{
    width: 100%;
    height: 0;
    background-color: darkgray;
}*/

#hovedmeny {
    grid-area: mainmenu;
    width: 100%;
    height: 100px;
    background-color: darkslategray;
    display: block;
}

ul {
    /*display: inline;*/
    /*margin: 2px;*/
}

#hovedmeny ul li {
    display: inline-block;
    float: left;
    list-style: none;
    line-height: 100px;
    /*text-align: center;*/
}

    #hovedmeny ul li a {
        /*background-color: darkred;*/
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        width: 100px;
        font-weight: 700;
        font-family: Arial;
        color: lightblue;
        padding: 0 20px;
    }

        #hovedmeny ul li:hover{
            background-color: cadetblue;
        }

        #hovedmeny ul li a:hover {
            color: black;
        }


/*-------------UNDERMENYER START-------------*/

nav.undermeny {
    
    width: 140px;
    display: none;
    background-color: lightgray;
    position: fixed;
    top:100px;
}


    nav.undermeny li {
        list-style: none;
        display: block;
        line-height: 30px;
    }

    /*nav.undermeny ul li{
    display: block;
    list-style: square;
    line-height: 20px;
    padding: 5px;
    float: none;
    display: list-item;
}*/

    

    nav.undermeny ul li .menylink {
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: black;
        height: 45px;
        /*margin: 50px;*/
    }

        nav.undermeny ul li:hover{
            background-color: cadetblue;
        }

        nav.undermeny ul li .menylink:hover {
            color: black;
        }

.undermeny#u1 {
    margin: 0;
    background-color: darkseagreen;
}

.undermeny#u2 {
    margin: 0 0 0 calc(1*140px);
    background-color: darkseagreen;
    /*position: absolute;*/
}

.undermeny#u3 {
    margin: 0 0 0 calc(2*140px);
    background-color: darkseagreen;
}

.undermeny#u3 .menylink{
    font-size: 16px;
}

.undermeny#u4 {
    margin: 0 0 0 calc(3*140px);
    background-color: darkseagreen;
}

.undermeny#u5 {
    margin: 0 0 0 calc(4*140px);
    background-color: darkseagreen;
}

/*-------------UNDERMENYER SLUTT-------------*/

div.hovedinnhold{
    grid-area: maincontent;
    background-color: darkslateblue;
}

div.sidemeny{
    grid-area: sidebar;
    background-color: steelblue;
}

h1{
    margin: 50px 0 30px 70px;
}

div.footer{
    grid-area: footer;
    background-color: darkslategray;
}

div.page {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
        'mainmenu mainmenu'
        'sidebar maincontent'
        'footer footer';
}



/*^^^^^ Virker*/
