* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
}

/*div.test{
    width: 100%;
    height: 0;
    background-color: darkgray;
}*/

#hovedmeny {
    width: 100%;
    height: 100px;
    background-color: darkgray;
    display: block;
}

ul {
    /*display: inline;*/
    /*margin: 2px;*/  
}

    #hovedmeny ul li {
        display: inline-block;
        float: left;
        list-style: none;
        line-height: 100px;
        /*text-align: center;*/
    }

        #hovedmeny ul li a {
            /*background-color: darkred;*/
            display: block;
            text-decoration: none;
            font-size: 20px;
            font-weight: 700;
            font-family: Arial;
            color: black;
            padding: 0 20px;
        }

            #hovedmeny ul li a:hover {
                color: dimgray;
            }

nav.undermeny{
    /*width: 200 px;*/
    display: none;
}

       

          
nav.undermeny ul li{
    /*display: block;*/
    /*list-style: square;*/
    /*line-height: 20px;
    padding: 5px;
    float: none;
    display: list-item;*/
}


/*nav.undermeny ul li .menylink{
    color:aqua;
}*/

/*^^^^^ Virker*/